
src/main/java/fr/hikarion/api/.DS_Store
src/main/java/fr/hikarion/.DS_Store
src/main/java/fr/.DS_Store
src/main/java/.DS_Store
src/main/.DS_Store
src/.DS_Store
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_15.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/libraries/Maven__org_github_paperspigot_paperspigot_api_shaded_1_8_8_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_bukkit_craftbukkit_1_8_8_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_bukkit_bukkit_1_8_8_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_avaje_ebean_2_8_1.xml
.idea/libraries/Maven__net_sf_trove4j_trove4j_3_0_3.xml
.idea/libraries/Maven__net_md_5_bungeecord_protocol_1_8_SNAPSHOT.xml
.idea/libraries/Maven__net_md_5_bungeecord_event_1_8_SNAPSHOT.xml
.idea/libraries/Maven__io_netty_netty_transport_4_0_33_Final.xml
.idea/libraries/Maven__javax_persistence_persistence_api_1_0.xml
.idea/libraries/Maven__net_md_5_bungeecord_api_1_8_SNAPSHOT.xml
.idea/libraries/Maven__junit_junit_4_10.xml
.idea/libraries/Maven__net_md_5_bungeecord_chat_1_8_SNAPSHOT.xml
.idea/libraries/Maven__net_md_5_bungeecord_config_1_8_SNAPSHOT.xml
.idea/libraries/Maven__io_netty_netty_common_4_0_33_Final.xml
.idea/libraries/Maven__io_netty_netty_codec_4_0_33_Final.xml
.idea/libraries/Maven__io_netty_netty_buffer_4_0_33_Final.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
.idea/libraries/Maven__com_google_guava_guava_17_0.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_6.xml
.idea/libraries/Maven__com_github_MilkBowl_VaultAPI_1_7.xml
.idea/libraries/Maven__com_github_SaberLLC_Saber_Factions_2_4_0_RC.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/compiler.xml
.idea/hAPI.iml
.idea/jarRepositories.xml
.DS_Store
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-archiver/pom.properties
target/hAPI-1.0-SNAPSHOT.jar
target/classes/plugin.yml
target/classes/fr/hikarion/api/utils/SpeedItems.class
target/classes/fr/hikarion/api/utils/Serialize.class
target/classes/fr/hikarion/api/utils/ScoreboardSign.class
target/classes/fr/hikarion/api/utils/ScoreboardSign$VirtualTeam.class
target/classes/fr/hikarion/api/utils/ScoreboardSign$1.class
target/classes/fr/hikarion/api/utils/ItemStackAdapter.class
target/classes/fr/hikarion/api/utils/BungeeChannelApi.class
target/classes/fr/hikarion/api/utils/commands/BukkitCommand.class
target/classes/fr/hikarion/api/utils/commands/Command.class
target/classes/fr/hikarion/api/utils/commands/BukkitCompleter.class
target/classes/fr/hikarion/api/utils/commands/CommandArgs.class
target/classes/fr/hikarion/api/utils/commands/CommandFramework.class
target/classes/fr/hikarion/api/utils/commands/Completer.class
target/classes/fr/hikarion/api/utils/FileUtils.class
target/classes/fr/hikarion/api/utils/BungeeChannelApi$ForwardConsumer.class
target/classes/fr/hikarion/api/models/Module.class
target/classes/fr/hikarion/api/models/HikarionPlayer.class
target/classes/fr/hikarion/api/manager/ScoreboardManager.class
target/classes/fr/hikarion/api/manager/PlayerManager.class
target/classes/fr/hikarion/api/manager/ModuleManager.class
target/classes/fr/hikarion/api/API.class
target/classes/fr/hikarion/api/commands/ModuleCommands.class
target/classes/fr/hikarion/api/listeners/PlayerJoin.class
target/classes/fr/hikarion/api/listeners/PlayerQuit.class
